{
  "presets": [
    [
      "env", {
        "useBuiltIns": "entry",
        "targets": {
          "browsers": [ "defaults" ]
        }
      }
    ],
    "react"
  ],
  "plugins": [ "transform-class-properties", "transform-object-rest-spread"]
}
